* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 20px;
  font-weight: 400;
}
.body {
  overflow-x: hidden;
  color: #323264;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: calc(1600px + 60px * 2);
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.header-nav {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-self: flex-end;
}
.header-nav a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24a3ff;
  text-decoration: none;
}
.header-nav .active {
  color: #f0145a;
  text-decoration: underline;
}
.header-info {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-end;
  color: #b3b3ba;
}
.logo-wrap {
  display: flex;
  justify-content: space-between;
}
.burger-btn {
  display: none;
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  gap: 6px;
  border: none;
  background-color: #ffffff;
}
.burger-btn:active {
  background-color: #e6e6f0;
}
.burger-btn span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #323264;
}
.lang {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.lang-item {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #b3b3ba;
  border-radius: 8px;
  padding: 5px 7px;
}
.lang-item.active {
  color: #ffffff;
  background: #f0145a;
}
.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 60px 120px;
}
.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.header-number {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.card-img {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
  color: #323264;
}
.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.card-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}
.card-more {
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-image: url(../img/arrow-btn.svg);
}
.card-info:hover .card-title {
  color: #f0145a;
}
.card-info:hover .card-more {
  background-image: url(../img/arrow-btn-hover.svg);
}
.footer {
  margin-top: 60px;
  padding: 30px 0;
  background: #f5f5fa;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer-link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
}
.footer-copy,
.footer-copy-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}
.footer-bottom {
  display: flex;
  align-items: center;
}
.number {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
  text-decoration: none;
}
.email {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}
.word-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #b3b3ba;
  margin: 0 10px;
}
.footer-copy-bottom {
  display: none;
}

@media screen and (max-width: 900px) {
  .header-info {
    position: relative;
  }
  .header-nav {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .header {
    gap: 35px;
  }
  .header-info {
    align-self: flex-start;
  }
  .header-nav {
    align-self: flex-start;
  }
  .page-title {
    margin-left: 0;
    margin-right: 0;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 30px;
  }
  .header {
    gap: 35px;
    padding: 0 15px;
  }
  .header-info {
    width: calc(100% + 15px * 2);
    margin-left: -15px;
    margin-right: -30px;
    justify-content: space-between;
    padding: 10px 30px;
    background: #f5f5fa;
  }
  .header-nav {
    position: absolute;
    display: none;
    overflow: hidden;
    width: auto;
    top: 70px;
    left: 10px;
    right: 10px;
    bottom: auto;
    flex-direction: column;
    gap: 15px;
    padding: 12px;
    background: #ffffff;
    border-radius: 12px;
    z-index: 1;
  }
  .header-nav.opened {
    display: flex;
  }
  .header-nav::before {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .header-nav::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .header-nav a {
    padding: 7px;
    background: #f5f5fa;
    border-radius: 12px;
    text-align: center;
  }
  .nav-close {
    margin-bottom: 5px;
  }
  .burger-btn {
    display: flex;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 32px;
    height: 32px;
  }
  .close span {
    position: absolute;
    background-color: #ec6f5d;
  }
  .close span:first-child {
    transform: rotate(45deg);
  }
  .close span:last-child {
    transform: rotate(135deg);
  }
  .word-dot,
  .header-address,
  .header-fb {
    display: none;
  }
  .header-logo {
    max-width: 142px;
  }
  .header-logo img {
    width: 100%;
  }
  .page-title {
    font-size: 30px;
    line-height: 37px;
    margin: 30px 0;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .card-img {
    height: 300px;
  }
  .footer-top {
    justify-content: center;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-copy {
    display: none;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
  .footer-copy-bottom {
    display: block;
    text-align: center;
    margin-top: 9px;
  }
}
