@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --nav-height: 84px;
  --nav-border: 8px;
  --sub-menu-width: 300px;
}
html {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.menu {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: #333333;
  border-bottom: var(--nav-border) solid #009eff;
}
.menu-item {
  list-style: none;
  float: left;
  position: relative;
}
.menu-item:hover {
  background: #00a9ff;
}
.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: var(--sub-menu-width);
  display: none;
  position: absolute;
  left: 0;
  top: var(--nav-height);
}
.sub-item {
  position: relative;
  float: none;
  margin: 0;
  width: 100%;
  background-color: #009eff;
  border: 1px solid #0084ef;
}
.sub-item:hover {
  background: #00a9ff;
}
.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #b2b2b2;
  padding: 0 30px;
  height: var(--nav-height);
  text-transform: uppercase;
}
.menu-item:hover a {
  color: white;
}
.menu-item:hover .sub-menu {
  display: block;
}
.menu-item .sub-menu.level-2 {
  display: none;
  left: var(--sub-menu-width);
  top: 0;
}
.sub-item a {
  text-transform: none;
}
.sub-item:hover .level-2 {
  display: block;
}
.have-sub-menu::after {
  content: "+";
  margin-left: 10px;
}
.sub-item .have-sub-menu::after {
  margin-left: auto;
}
